.logo{
    width: 67.85px;
    height: 42.407px;
    margin-top: 21px;
    
}
.name{
    color: #215D4F;
    
    margin-top:30px ;
}
.list-elements{
    color: #7F7F7F;
    font-weight: 400;
    font-size: 24px;
}
.bell-icon{
    width: 21.23px;
    height: 26.538px;
}
.comments-icon{
    width: 24.398px;
    height: 24.398px;
}
.profile-icon{
    width: 36.596px;
    height: 36.596px;
}
.sec3{
    right: 0%;
    margin-left: 350px;
}
 .nav-container{
    display: grid;
    grid-template-columns: 20% 40% 40%;
    /* display: grid;
    grid-template-columns: 40% 40%; */
    align-items: center;
    justify-content: space-evenly;
}
.click{
    
}

.nav-item2{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-item-click{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    background-color: rgb(33, 93, 79,0.1);
}
.nav-item3{
    display: flex;
    align-items: center;
    justify-content: end;
    
}
