.password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: #215D4F; /* Dark green color */
  font-weight: bold;
  background-color: white;
  border-radius: 25px;
  padding: 2%;
  margin-bottom: 10%;
}

.container {
  background-color: #215D4F;
  padding: 2%;
 
}

.role-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.role-button {
  margin: 0 10px;
  padding: 10px 20px;
  border: 2px solid #215D4F; /* Dark green color */
  border-radius: 5px;
  background-color: white;
  color: #215D4F; /* Dark green color */
  font-weight: bold;
  opacity: 0.5;
  transition: background-color 0.3s ease;
}

.role-button.selected {
  opacity: 1;
  background-color: #215D4F; /* Dark green color */
  color: white;
  width: 100px;
}

.password-field {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding:10%;
}

.password-input {
  border: 2px solid #215D4F; /* Dark green color */
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.password-button {
  border: 2px solid #215D4F; /* Dark green color */
  border-radius: 5px;
  background-color: #215D4F;
  color: white; /* Dark green color */
  font-weight: bold;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
 width: 100%;
  width: 235px; /* Add max-width to limit button width on larger screens */
}

.password-button:hover {
  background-color: #215D4F; /* Dark green color */
  color: white;
}

h2 {
  font-size: 24px; /* Increase the font size to 24 pixels */
  
}

h3 {
  font-size: 24px; /* Increase the font size to 24 pixels */
  padding: 5%;
}

.resend-otp {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.resend-link {
  margin-top: 5px;
  color: #215D4F;
  text-decoration: none;
  font-weight: bold;
}

.left-column {
  width: 50%;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px; /* Adjust margin for better layout on tablet */
}

.left-image {
  width: 518px;
  height:407px ;
  top: 284px;
  left:192px ;
}

.right-column {
  width: 50%; /* Make sure the right column takes up the full width */
  display: flex;
  float: right;
  flex-direction: column;
  align-items: center;
}

.login-options {
  margin-top: 20px;
  text-align: center;
}

.login-option {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  border: 2px solid #215D4F;
  border-radius: 5px;
  color: #215D4F;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.2s ease, color 0.2s ease;
  width: 180px; /* Set the width for all three links */
  text-align: center; /* Center the text in the link */
}

.login-option:hover {
  background-color: #215D4F; /* Dark green color */
  color: white;
}

/* Mobile styles */
@media screen and (min-width: 769px) {
  div {
    font-size : 20px;
    }

    h2 {
      font-size: 24px; /* Increase the font size to 24 pixels */
    }

    h3 {
      font-size: 24px;
    }
    .password-button {
  width:285px;
    }

    .google {
  width: 100%;
    }

    .facebook {
      width: 100%;
        }

        .apple {
          width: 100%;
            }

}

/* Desktop styles */
@media screen and (max-width: 768px) {

    div {
      font-size : 10px;
      }
    
      h2 {
        font-size: 14px;
      }

      h3 {
        font-size: 14px;
      }

      .password-button {
      width:160px;
      }

      .google {
      width: 150px;
      height: 50px;
      }

      .facebook {
        width: 150px ;
        height: 50px;
          }
  
          .apple {
            width: 150px;
            height: 50px;
              }
}
